<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--后台服务地址-->
    <add key="ServerUrl" value="http://kx.guangray.com:9095/demo" />
    <!--设置密码-->
    <add key="SettingPassword" value="1516"/>
    <!--是否手写-->
    <add key="IsHandWriting" value="true"/>
    <!--LED 常规RGB颜色-->
    <add key ="GeneralRGB" value="0,0,130"/>
    <!--LED 通过RGB颜色-->
    <add key ="PassRGB" value="0,255,0"/>
    <!--LED 不通过RGB颜色-->
    <add key ="NotPasslRGB" value="255,60,0"/>
    <!--LED频率，设置范围0-255-->
    <add key="LEDFrequency" value="100"/>
    <!--LED 风格 1-常规2-闪光3-呼吸灯4-渐灭渐亮5-渐变-->
    <add key ="LEDStyle" value="1"/>
  </appSettings>
</configuration>